/* General Styles */
body {
    font-family: 'Lato', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 48px;
}

header p {
    font-size: 20px;
}

section {
    padding: 60px 0;
}

/* Projects Slider */
.slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.slide {
    flex: 0 0 70%;
    margin-right: 20px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    scroll-snap-align: start;
}
